---
layout: default
---
<header class="nav">
  <div class="nav-left">
    <a class="nav-brand" href="{{ '/' | relative_url }}">
      <img class="nav-logo" src="{{ '/assets/images/hackinbrasil.png' | relative_url }}" alt="Logo Hack in Brasil">
      <span>Hack in Brasil</span>
    </a>
    <span class="nav-logo-tag">Artigo</span>
  </div>
  <nav class="nav-right nav-right-static">
    <a class="nav-link" href="{{ '/blog/' | relative_url }}">Voltar para o blog</a>
  </nav>
</header>

<main class="blog-page">
  <article class="blog-article">
    <p class="blog-meta">
      {{ page.date | date: "%d/%m/%Y" }}
      {% if page.author %}· {{ page.author }}{% endif %}
    </p>
    <h1 class="blog-article-title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="blog-article-description">{{ page.description }}</p>
    {% endif %}
    <div class="blog-article-content">
      {{ content }}
    </div>
  </article>
</main>
